@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:ital,wght@0,300;0,500;0,700;1,600;1,700&display=swap');

 * {
    font-family: Montserrat;
 }

 body {
    background-color: #4d4f52;
 }

 .videoplayer {
    position: fixed;
    right: 0;
    bottom: 0;

 }

.conatiner {
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:5px;
    background-color: #4d4f52;
  }
  
  .searchint {
    margin-left: 5px;
    width: 25%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #7cb518;
    outline: none;
    transition: 300ms;
    border: none;
  }

  .searchint:focus {
    width: 40%;
  }

  .searchbtn {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    transition: 300ms;
    background-color: #32b518;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }

  .searchbtn:hover {
    transform: scale(1.2);
  }

  form {
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:5px;
    background-color: #4d4f52;
  }

  .logout {
    width: 90px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 300ms;
    margin-right: 10px;
  }

  .logout:hover {
    transform: scale(1.2);
  }

  .card {
    width: 200px;
    height: auto;
    background-color: beige;
    border-radius: 5px;
    text-align: center;  
    transition: 300ms;
  }

  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .cont {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .cardimg {
    width: 100%;
  }

  .fa-star {
    color: black;
  }

  .fa-star:hover {
    color: gold;
  }